{% extends "baseForm.html"%}
{% block form %}
<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Welcome to the Blood Donation System!</h1>
        <h1 class="jumbotron-heading">&nbsp</h1>

        <p class="lead text-muted">
            This is a system designed to allow the user to store/delete data about the participants of the blood donation process.
            It also allows the user to generate reports on the entities stored.
        </p>
        <p>&nbsp</p>
        <p>            <a href="/insert/hospitals/" class="btn btn-secondary my-2 btn-lg">Get Started</a></p>
      </div>
      </section>
      </main>

{% endblock %}